@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{padding:0;
margin:0;
box-sizing:border-box;
font-family: "Montserrat", sans-serif;
    
}
/* navigation menu */
.nav img{
    margin:2vw;
    height:9rem;
}

.nav{
    min-height:30vw;
    width:100%;
    display:flex;
    justify-content:space-between;
    position:relative;
    gap:20px;
    
}
.nav::after {
    content:"";
    height:110%;
    width:100%;
    background:url("navbg.png");
    position:absolute;
    background-repeat:no-repeat;
    opacity:0.3;
    margin:0;
    top:-10%;
    background-size:cover;
    background-position:center;
}
.nav1{
    display: flex;
    gap:3vw;
    align-items:flex-start;
    margin-top:4vw;
    flex-wrap:wrap;
    padding:1vw;
}
.nav1 h4{
    padding:10px 20px;
    border:2px solid black;
    border-radius:50px;
    font-weight:700;
    color:black;
    position:relative;
    transition:all ease 0.5s;
    overflow:hidden;
    
}

.nav h4::after{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    background-color:black;
    left:0;
    bottom:-100%;
    border-radius:50px;
    transition:all ease 0.5s;
}
.nav h4:hover::after{
    bottom:0;
    border-radius:0;
}

.nav h4 a{
    text-decoration:none;
    color:black;
    z-index: 9;
    position:relative;
}

.nav h4:hover a{
   color:white;
}


.page1{

    background:black;
    border:1px solid black;
    color:#D6CCC2;
    text-align:center;
    padding:2vw;
    font-size:1.7em;
}

.page2{
    background-color:black;
    width:100%;
    display:flex;
    padding:20px;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    color:#E3D5CA;
}
.page2img{
    height:200px;
    width:200px;
    border:2px solid red;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    border-radius:7px;
    transition:all linear 0.2s;
}
.page2img:hover{
    transform:scale(1.1);
    margin:0 30px;
} 
.img1,.img2,.img3,.img4{
    height:80%;
    width:100%;
    background-color:transparent;
    border-radius:8px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}
.img1{
    background-image:url("ide.png");
}
.img2{
    background-image: url('incu.png');
}
.img3{
    background-image: url('invo.png');
}
.img4{
    background-image:url("serv.png");
}

.page3{
    background:#EDEDE9;
    color:black;
    text-align:center;
    padding:2vw;
    font-size:1.7em;
 }
.page3 h1,.page1 h2,.page3 h5,.page3 p{
    margin-bottom:1.5vh;
} 
.page3 h2{
    border-bottom:3px solid brown;
    display:inline-block;
    margin-bottom: 2vh;
    font-size:2.5em;
}
.sliderhead{
    text-align:center;
    background:#EDEDE9;
}
.sliderhead h1{
    font-size:3.5em;
}
.sliderhead h6{
    font-size:1.8em;
    color:#403D39;
    
}
#intitativeheading{
    text-align:center;
    background:#EDEDE9;
    padding:30px;
    text-shadow:0 0 1px yellow;
    font-size:3.2em;
    font-weight:800;
}

.slider{
    display:flex;
    overflow-x:auto;
    align-items:center;
    gap:50px;
    min-height:30rem;
    background-color:black;
    font-size:1em;
}

.cards{
    min-height:400px;
    min-width:400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
    border:1px solid aliceblue;
    margin:10px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius:8px;
    gap:20px;
    color:#D5BDAF ;
    transition:all linear 0.2s;  
}
.cards p{
    font-size:1.5em;
}

#imgcon{
    min-height:300px;
    border-radius:8px;
    width:70%;
    padding:10px;
    box-shadow:2px 2px 10px white;
    
}


.cardimg,.cardimg2{
    height:300px;
    background-image:url('card.jpg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:8px;
}
.cardimg2{
    background: url('event.jpg');
 
 }

.cards button{
    border-radius:20px;
    width:40%;
    border:1px solid white;
    margin-bottom:0.5vh;
    height:3vh;
    background:#D5BDAF;
    font-size:1.2em;
    font-weight:600;
}


.cards button:hover{
    background:black;
    color:white;
    border:1px solid aqua;
}


.cards:hover{
    transform:scale(1.1);
    margin:0 70px;
}


.page4{
    text-align:center;
    padding:10px;
    background:#F5EBE0;
}
.page4 h1,.page4 h2,.page4 p{
    margin-bottom:4vh;
}
.page4 p{
    font-size:1.7em;
}
.page4 h2{
    border-bottom:2px solid brown;
    display:inline-block;
    font-size:2.8em;
    font-weight:600;
}

.infinite{
    white-space:nowrap;
    overflow-x:auto;
    height:40vh;
    background-color:#90E0EF;
    box-shadow:0 0 10px black;
}


.con1{
    white-space:nowrap;
    overflow-x:auto;
    font-size:2rem;
    background-color:#FAEDCD;
    padding:20px;
    box-shadow:0 0 10px black;
}


.con{
     white-space:nowrap;
     display: inline-block;
     animation:move 9s linear infinite ;
}


 @keyframes move{
     from{transform:translate(0%);}
     to{transform:translate(-100%);}
 }
 
 
footer{
    min-height:30vh;
    background:#FFE3C8;
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding:30px;
    box-shadow:0 0 5px black;
    
}
.foot1,.foot2.foot3{
    width:33.33%;
    height:100%;
    
    
}
.foot1 h3,.foot1 p,.foot2 h3,.foot2 p,.foot3 h3,.foot3 p{
margin-bottom:10px;
    
}

.btm1{
display: flex;
justify-content:space-between;
}


.btm2{

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:50%;
    text-align:center;
    
}

.btmimg{
    background:black;
    height:150px;
    width:150px;
    border-radius:50%;
    background: url('btmimg.png');
    background-position:center;
    background-size:cover;
    margin:20px;
    box-shadow:0 0 5px rgba(0,0,0,0.7);
}
i{
    margin:8px;
}
